@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #0f0e0e;
}

body {
  font-family: "Syne", sans-serif;
  background-color: var(--background);
}
.page-width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
